In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('trade.csv')
df

       sym  side  amount       price
0  BTCUSDT   buy    0.01  422.288500
1  BTCUSDT  sell    0.01  421.487742
2  BTCUSDT   buy    0.01  422.043000
3  BTCUSDT  sell    0.01  415.132900

In [5]:
trades = []

for x in range(0, len(df), 2):
    buy_trade = df.iloc[x]
    sell_trade = df.iloc[x + 1]

    trade = {
        "sym": buy_trade.sym,
        "buy_price": buy_trade.price,
        "sell_price": sell_trade.price, 
        "profit": sell_trade.price - buy_trade.price
    }

    trades.append(trade)

trades = pd.DataFrame(trades)
trades["percent_profit"] = 100*(trades.profit / trades.buy_price)
trades

       sym  buy_price  sell_price    profit  percent_profit
0  BTCUSDT   422.2885  421.487742 -0.800758       -0.189623
1  BTCUSDT   422.0430  415.132900 -6.910100       -1.637298